<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center min-w-screen min-h-screen">
    <form action="" class=" mt-10 flex flex-col items-center bg-slate-200 justify-evenly p-10 rounded-lg shadow-lg " method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" class="mb-10">
        <button type="submit" class="bg-slate-400 shadow-md rounded-md py-1 px-3 text-xl text-white active:scale-90 transition hover:bg-slate-500">Submit</button>
    </form>
</body>
</html>